.conteudo {
  padding: 60px 20px;
  background-color: black;
  background: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  &--row {
    border: 2px solid black;
    border-radius: 10px;
    -webkit-box-shadow: 1px -1px 10px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 1px -1px 10px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 1px -1px 10px 0px rgba(0, 0, 0, 0.6);
    padding: 40px 20px;
    background-color: #f2f3eb;
  }

  &--top {
    h2 {
      text-decoration: underline;
    }
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      P {
        margin-bottom: 0;
        display: inline;
      }
      img {
        height: 120px;

        border-radius: 100%;
        object-fit: contain;
        margin-left: 40px;
      }
    }
  }

  ul {
    padding-left: 15px;
  }
  h2 {
    margin-top: 10px;
  }
  h3 {
    font-size: 1rem;
    margin-top: 10px;
  }
  p {
    span {
      opacity: 0.6;
    }
  }
}

/*
=====================================================
Small devices (landscape phones, 576px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/

@include media-breakpoint-up(sm) {
  .conteudo {
    &--top {
      text-align: center;
      p {
        text-align: right;
      }
    }
  }
}

// 576px

/*
=====================================================
Medium devices (tablets, 768px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/

@include media-breakpoint-up(md) {
  .conteudo {
    &--left {
      text-align: right;
    }
  }
}

// 768px

/*
=====================================================
Large devices (desktops, 992px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/

@include media-breakpoint-up(lg) {
}

// 992px

/*
=====================================================
Extra large devices (large desktops, 1200px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/

@include media-breakpoint-up(xl) {
}

// 1200px
